@use "../../styles/partials/variables" as *;

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  height: 350px;
  width: 350px;
  background-color: $background-colour;
  display: flex;
  flex-direction: column;

  &__title {
    font-size: 2rem;
    align-self: center;
    margin-bottom: 20px;
  }

  &__overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }

  &__close {
    z-index: 1000;
    margin: 20px;
    width: 30%;
    height: 35px;
    align-self: center;
    background-color: $primary-colour;
    color: white;
    border-radius: 8px;
  }
}

.edit {
  display: flex;
  flex-direction: column;
  height: 500px;

  &__wrapper {
    margin: 16px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 1em;
  }

  &__label {
    width: 3rem;
  }

  &__input {
    border-radius: 8px;
    border: none;
    height: 24px;
    width: 180px;
    padding-left: 4px;
  }
}
